annotated-types
anyio
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
cymem
fastapi
gdacs-api
geographiclib
geopy
h11
httpcore
httpx
idna
jinja2
langcodes
language_data
marisa-trie
markdown-it-py
markupsafe
mdurl
murmurhash
numpy
packaging
pandas
preshed
pydantic[email]
pydantic_core
pygments
python-dateutil
python-dotenv
pytz
requests
rich
setuptools
shellingham
six
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
starlette
thinc
tqdm
typer
typing_extensions
tzdata
urllib3
uvicorn
wasabi
weasel
wrapt
xmltodict
firebase_admin
pycountry
clerk_backend_api
google-generativeai
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
